@import "@aws-amplify/ui-react/styles.css";

* {
  font-family: "Plus Jakarta Sans", sans-serif;
}
body {
  background: linear-gradient(90deg, rgb(16, 16, 16) 0%, rgb(30, 30, 30) 100%);
}

.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 500px;
  min-height: 500px;
  background: white;
  text-align: center;
  margin: 128px auto;
  border-radius: 5px;
}

.completed {
  text-decoration: line-through;
  opacity: 0.4;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 4px auto;

  padding: 16px;
  border-radius: 20px;
  width: 80%;
}

/* Dropdown Styling */
.dropdown {
  position: relative;
  display: inline-block;
  text-align: left;
}

.edit-input {
  border: none;
}

.red {
  color: red;
}

.blue {
  color: blue;
}
